_*/*
cloudformation/CracklingCloudFormation.yaml.packaged
layers/consensusPy38Pkgs/*
modules/consensus/package/*
layers/sharedObjects
*.venv
*.zip
cdk.out
aws/aws/dist/
aws/aws/install
aws/aws/README.md
aws/aws/THIRD_PARTY_LICENSES
layers/ncbi/*
=10.0.0,
tests/*
aws/node_modules
layers/sgrnascorer2Model/python/*
layers/requestsPy310Pkgs/python/*
